body {
    font-family: Arial, sans-serif;
    background-image: url('971.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #008000BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #008000;
}

#mensagem {
    color: #007BFF;
    font-weight: bold;
}

#textoAlterado {
    color: #555;
    font-style: italic;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
